.container{
    height:500px;
    width:500px;
    border: 3px solid black;
}
.item{
    height: 20px;
    width: 50px;
    border: 2px solid black; 
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
}

